{% comment %}
  Embroidery configurations snippet
  This snippet is used to display embroidery options for products
  @param product_form_id: product form id - required on the pdp 
  @param fonts: array of fonts - required
  @param colors: array of colors - required
  @param image: image url - required
  @param max_characters: max characters for the embroidered name - required
  @param embroidery_cost: embroidery cost - required
  @param is_cart: boolean - required on the cart drawer
  @param item: item - required
{% endcomment %}

<script src="{{ 'embroidery-configurations.js' | asset_url }}" defer="defer"></script>

<embroidery-configurations 
  data-is-cart="{{ is_cart }}" 
  class="embroidery-configurations"
  data-product-form-id="{{ product_form_id }}"
>
  <!-- Top section with checkbox -->
  <div class="embroidery-config-toggle custom-flex custom-items-center custom-justify-between {% unless is_cart %} custom-bg-gray-100 {% endunless %} custom-p-4 ">
    <label class="custom-flex custom-items-center custom-gap-2">
      <input
        type="checkbox"
        name="properties[_has_embroidery]"
        class="custom-w-6 custom-h-6 custom-accent-black "
        value="Yes"
        form="{{ product_form_id }}"
      >
      <span class="{% if is_cart %} custom-font-bold {% endif %}">
        {{ 'embroidery.has_embroidery_label' | t }}
        {% if is_cart %}
            (<span class="custom-font-bold" data-embroidery-cost='{{ embroidery_cost }}' data-currency-symbol="{{ shop.currency }}">
                {% capture first_embroidery_color %}
                    {% render 'get-first-embroidery-color', colors: colors %}
                {% endcapture %}
                {% assign first_embroidery_color = first_embroidery_color | strip %}
                {% capture first_color_cost %}
                    {% render 'get-embroidery-cost-by-color', color: first_embroidery_color, embroidery_cost: embroidery_cost %}
                {% endcapture %}
                {% assign first_color_cost = first_color_cost | strip %}
                {{ first_color_cost }}
            </span>)
        {% endif %}
    </span>
    </label>
    {% unless is_cart %}
    <span class="custom-text-lg custom-font-bold" data-embroidery-cost='{{ embroidery_cost }}' data-currency-symbol="{{ shop.currency }}">
        {% capture first_embroidery_color %}
            {% render 'get-first-embroidery-color', colors: colors %}
        {% endcapture %}
        {% assign first_embroidery_color = first_embroidery_color | strip %}
        {% capture first_color_cost %}
            {% render 'get-embroidery-cost-by-color', color: first_embroidery_color, embroidery_cost: embroidery_cost %}
        {% endcapture %}
        {% assign first_color_cost = first_color_cost | strip %}
        {{ first_color_cost }}
    </span>
    {% endunless %}
  </div>

  <!-- Compact two column layout -->
  <div class="embroidery-config-options custom-flex custom-flex-col custom-hidden custom-bg-gray-100 custom-p-4 custom-pt-0">
    <div class="custom-flex custom-flex-col md:custom-flex-row custom-gap-3">
      <!-- Left column with configuration options (65%) -->
      <div class="custom-w-full md:custom-w-[65%]">
        <div class="custom-mb-4">
          <p class="custom-mb-2 custom-text-lg custom-text-black">{{ 'embroidery.name_length_limit' | t: limit: max_characters }}</p>
          <input
            type="text"
            name="properties[Embroidered Name]"
            placeholder="{{ 'embroidery.name_placeholder' | t }}"
            maxlength="{{ max_characters }}"
            class="custom-w-full custom-p-2 custom-text-lg focus:custom-outline-none focus:custom-outline-0 focus:custom-ring-0 focus:custom-border-1 focus:custom-border-gray-300"
            form="{{ product_form_id }}"
          >
        </div>

        <div class="custom-mb-4">
          <p class="custom-mb-2 custom-text-xl custom-text-black">{{ 'embroidery.letter_color_title' | t }}</p>
          <div class="custom-flex custom-gap-4">
            {% for color in colors.value %}
              <div class="custom-flex custom-flex-col custom-items-center custom-gap-1">
                <label class="custom-relative custom-w-10 custom-h-10 custom-rounded-full custom-cursor-pointer custom-transition-all custom-duration-200 group custom-bg-{{ color | downcase }}">
                  <input
                    type="radio"
                    name="properties[Letter Color]"
                    value="{{ color }}"
                    class="custom-sr-only peer"
                    form="{{ product_form_id }}"
                    checked={% if forloop.first %}true{% else %}false{% endif %}
                  >
                  <span class="custom-sr-only">{{ color }}</span>
                  <span
                    class="custom-absolute custom-inset-0 custom-rounded-full custom-pointer-events-none "
                    {%- if forloop.first -%} style="box-shadow:0px 0px 0px 2px white, 0px 0px 0px 3px black" {%- endif -%}  
                  ></span>
                  
                </label>
                <span class="custom-text-base custom-text-black peer-checked:custom-font-bold">{{ color }}</span>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="custom-mb-4 custom-mt-4">
          <div class=" custom-text-xl custom-text-black">{{ 'embroidery.font_title' | t }}</div>
          <div class="custom-grid custom-grid-cols-2 custom-gap-1">
            {% for font in fonts.value %}
              <label class="custom-rounded custom-m-2 custom-text-center custom-cursor-pointer custom-transition-all custom-duration-200 hover:custom-shadow-sm "
                style="{%- if forloop.first -%}border: 1px solid black;{%- else -%}border: 1px solid gray{%- endif -%}"
            >
                <input
                  type="radio"
                  name="properties[Font Style]"
                  value="{{ font }}"
                  class="custom-sr-only peer"
                  form="{{ product_form_id }}"
                >
                <span class="custom-text-xl custom-font-{{ font | downcase }}" style="{%- if forloop.first -%}font-weight: bold;{%- endif -%}" >{{ font }}</span>
              </label>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Right column with preview image (35%) -->
      <div class="custom-w-full md:custom-w-[35%] custom-flex custom-items-start md:custom-justify-center">
        <div class="custom-w-full custom-p-2 custom-rounded">
          <div class="embroidery-preview custom-flex custom-flex-col custom-justify-center custom-items-center custom-rounded custom-p-4 custom-text-center custom-relative">
            <!-- Text preview will be inserted here by JavaScript -->
            <div
              class="embroidery-text-preview custom-absolute custom-mb-3 custom-py-2 custom-px-4 custom-z-10 custom-text-2xl"
            ></div>

            <!-- Background image -->
            <img
              src="{{ image }}"
              alt="Embroidery Preview"
              class="custom-w-full custom-h-auto custom-object-cover"
              width="100"
              height="100"
            >
          </div>
        </div>
      </div>
    </div>
    <p class="custom-text-lg custom-text-black">{{ 'embroidery.warning_message' | t }}</p>
    {% if is_cart %}
        <button 
            class="custom-w-full custom-p-2 custom-text-lg custom-rounded custom-cursor-pointer custom-bg-black custom-text-white hover:custom-bg-gray-800 custom-transition-all custom-duration-200 disabled:custom-opacity-50 disabled:custom-cursor-not-allowed"
            data-embroidery-save-configuration
            data-index="{{ item.index | plus: 1 }}"
            data-has-embroidery-variant-id="{{ item.variant.id }}"
            data-quantity="{{ item.quantity }}"
        >
            {{ 'embroidery.save_configuration' | t }}
        </button>
    {% endif %}
  </div>
</embroidery-configurations>
